In [57]:

import pymysql
from pymysql.cursors import DictCursor

passw = "maquina271"
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8",
                       cursorclass=DictCursor)

In [58]:
with conn.cursor() as cursor:
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()

In [59]:
query ="""
SELECT DISTINCT status
FROM orders;"""
with conn.cursor() as cursor:
    cursor.execute(query)
    status = cursor.fetchmany(1000)

print("Resultado 1 ")
status

Resultado 1

[{'status': 'Shipped'},
 {'status': 'Resolved'},
 {'status': 'Cancelled'},
 {'status': 'On Hold'},
 {'status': 'Disputed'},
 {'status': 'In Process'}]

In [47]:
query = """
SELECT
customerName,
sum(amount) as expenses
FROM customers
INNER JOIN payments ON payments.customerNumber = customers.customerNumber
GROUP BY 1
ORDER BY 2 DESC;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    customers = cursor.fetchmany(10)

print("Resultado 2")
for customer in customers: 
    print(customer["customerName"], " ", customer["expenses"])

Resultado 2
Euro+ Shopping Channel   715738.98
Mini Gifts Distributors Ltd.   584188.24
Australian Collectors, Co.   180585.07
Muscle Machine Inc   177913.95
Dragon Souveniers, Ltd.   156251.03
Down Under Souveniers, Inc   154622.08
AV Stores, Co.   148410.09
Anna's Decorations, Ltd   137034.22
Corporate Gift Ideas Co.   132340.78
Saveley & Henriot, Co.   130305.35

In [42]:
query = """
SELECT
DISTINCT
orderdetails.productCode,
orders.customerNumber
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
WHERE orders.status IN ('Shipped','Resolved')
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    products = cursor.fetchmany(10)

print("Resultado 3")

for products in products:
    print(products["productCode"], products["customerNumber"])

Resultado 3
S18_1749 363
S18_2248 363
S18_4409 363
S24_3969 363
S18_2325 128
S18_2795 128
S24_1937 128
S24_2022 128
S18_1342 181
S18_1367 181

In [45]:
query = """
WITH t1 AS(
SELECT DISTINCT productCode, productName
FROM products
)
SELECT
DISTINCT
t1.productName,
orders.customerNumber
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN t1 ON t1.productCode =orderdetails.productCode
WHERE orders.status IN ('Shipped','Resolved')
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    products = cursor.fetchmany(10)

print("Resultado 4")

for products in products:
    print(products["productName"], products["customerNumber"])

Resultado 4
1917 Grand Touring Sedan 363
1911 Ford Town Car 363
1932 Alfa Romeo 8C2300 Spider Sport 363
1936 Mercedes Benz 500k Roadster 363
1932 Model A Ford J-Coupe 128
1928 Mercedes-Benz SSK 128
1939 Chevrolet Deluxe Coupe 128
1938 Cadillac V-16 Presidential Limousine 128
1937 Lincoln Berline 181
1936 Mercedes-Benz 500K Special Roadster 181

In [46]:
query = """
WITH t1 AS(
SELECT DISTINCT productCode, productName
FROM products
)
,t2 AS (
SELECT DISTINCT customerNumber, customerName
FROM customers
)
SELECT
DISTINCT
t1.productName,
cn.customerName
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN t1 ON t1.productCode =orderdetails.productCode
INNER JOIN t2 cn ON cn.customerNumber=orders.customerNumber 
WHERE orders.status IN ('Shipped','Resolved')
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    products = cursor.fetchmany(10)

print("Resultado 5")
for products in products:
    print(products["productName"], "   ",products["customerName"])

Resultado 5
1965 Aston Martin DB5     Atelier graphique
1999 Indy 500 Monte Carlo SS     Atelier graphique
1948 Porsche Type 356 Roadster     Atelier graphique
1966 Shelby Cobra 427 S/C     Atelier graphique
1996 Moto Guzzi 1100i     Atelier graphique
1936 Harley Davidson El Knucklehead     Atelier graphique
1938 Cadillac V-16 Presidential Limousine     Atelier graphique
1917 Grand Touring Sedan     Signal Gift Stores
1911 Ford Town Car     Signal Gift Stores
1932 Model A Ford J-Coupe     Signal Gift Stores

In [48]:
query = """
WITH t1 AS(
SELECT DISTINCT productCode, productName
FROM products
)
SELECT
DISTINCT
t1.productName,
sum(orderdetails.quantityOrdered) as quantity
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN t1 ON t1.productCode =orderdetails.productCode
WHERE orders.status IN ('Shipped','Resolved')
GROUP BY 1
ORDER BY 2 DESC;
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    products = cursor.fetchmany(10)

print("Resultado 6")
for products in products:
    print(products["productName"], products["quantity"])

Resultado 6
1992 Ferrari 360 Spider red 1720
1937 Lincoln Berline 1060
1913 Ford Model T Speedster 1028
1957 Chevy Pickup 1023
1960 BSA Gold Star DBD34 1015
1957 Corvette Convertible 1013
1956 Porsche 356A Coupe 1013
American Airlines: MD-11S 1010
2002 Suzuki XREO 1007
1997 BMW R 1100 S 998

In [49]:
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)

conn = engine.connect()

In [50]:
#Resultado 7
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Text

db = declarative_base()

class Order(db):
    __tablename__ = "orders" 
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String(15))
    comments = Column(Text)
    customerNumber = Column(Integer, index=True)

In [52]:
#Resultado 8
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, SmallInteger

db = declarative_base()

class OrderDetail(db):
    __tablename__ = "orderdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(String(15), primary_key=True)
    quantityOrdered = Column(Integer)
    priceEach = Column(Float(10,2))
    orderLineNumber = Column(SmallInteger)

In [54]:
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

query = (sess.query(Order.status)
             .distinct(Order.status)
             )

print("Resultado 9")
for instance in query:
    print(instance.status)

Resultado 9
Shipped
Resolved
Cancelled
On Hold
Disputed
In Process